.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

.button {
    background-color: #0A1128;
    color: #1282A2;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
  }
  
.button:hover {
    background-color: #001F54;
    color: #FEFCFB;
  }
  